---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Allman
NamespaceIndentation: All
PointerAlignment: Right
ReferenceAlignment: Right
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
FixNamespaceComments: true
SortIncludes: false
SpaceAfterCStyleCast: false
IndentCaseLabels: true
