[submodule "third_party/hiredis"]
	path = third_party/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "third_party/libbpf-bootstrap"]
	path = third_party/libbpf-bootstrap
	url = https://github.com/libbpf/libbpf-bootstrap.git
[submodule "third_party/isa-l"]
	path = third_party/isa-l
	url = https://github.com/intel/isa-l.git
